GroupProject/build/classes/qanda/Question.class

GroupProject/build/classes/qanda/MultipleChoice.class

GroupProject/.DS_Store

GroupProject/.settings/org.eclipse.wst.common.project.facet.core.xml

GroupProject/.classpath

*.class
*.class
